.height {
/*    height: 50px;*/
    margin-bottom: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
/*    height: 50px*/
}

.btn-violet {
    
    
    color: #eee;
    background-color: violet;
    border-color: antiquewhite;
}

.btn-violet:hover {
    background-color: #a76fa7;
}

.karuzela img {
    height: 400px;
    object-fit: cover;
}